#menu {
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 560px;
    height: 30px;
    padding: 10px;
    border-radius: 5px;
}

.boutonMenu {
    width: 135px;
    border: 1px solid black;
    border-radius: 3px;
    height: 30px;
    background-color: rgb(196, 196, 196);
}

.boutonMenu:hover {
    background-color: rgb(26, 155, 194);
}

#center {
    text-align: center;
}

#laura {
    flex-wrap: wrap;
    text-align: center;
}

#affichage {
    height: 330px;
    width: 300px;
    margin-right: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    background-color: grey;
    border-radius: 5px;
    padding-top: 10px;
}

#affichage:hover {
    background-color: rgb(95, 174, 231);
}

#lien:hover {
    background-color: green;
}

#lien {
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: 2px solid black;
    padding-top: 10px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

img {
    width: 280px;
    height: 160px;
}