#menu {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    height: 30px;
    padding: 10px;
    border-radius: 5px;
}

.button-menu {
	background-color:#474a59;
	border-radius:11px;
	border:3px solid #000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-size:15px;
	padding:0 20px;
	text-decoration:none;
}
.button-menu:hover {
	background-color:#1e2234;
}
.button-menu:active {
	position:relative;
	top:1px;
}

#login {
    margin-left: 5%;
}
#affich-List {
    margin-left: 1%;
}

#block {
    display: flex;
    align-items: center;
    margin-left: 60%;
}
#welcome {
    margin-left: 2%;
    width: 100vw;
}

#laura2 {
    flex-wrap: wrap;
    text-align: center;
}

#affichage2 {
    width: 560px;
    margin-right: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    padding-top: 10px;
    background: #dcdce1;
    padding: 10px;
    padding-bottom: 40px;
}

#lien:hover {
    color: #d0d0d2;
}

#lien {
    text-decoration: none;
    border: 2px solid black;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;

    color: #707075;
    transition: color 300ms;
    font-size: 19px;
    font-weight: bold;
}
  
#lien:focus {
    color: #f2f2f2;
}

#enchere {
    font-weight: bold;
    border-right: 2px solid black;
    width: 200px;
    margin-left: 10px;
    padding-top: 10px;
    height: 65px;
}

#derniereOffre {
    color: black;
    margin-top: 10px;
    background: #474a59;
    color: white;
}

#inputPrix {
    margin-top: 10px;
    width: 100px;
}

#bloc {
    border: 2px solid black;
    margin-bottom: 10px;
    width: 420px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background: #474a59;
    color: white;
}

#encherir {
    font-weight: bold;
    width: 200px;
    padding-top: 10px;
    height: 65px;
    padding-left: 5px;
}

img {
    width: 280px;
    height: 160px;
}

#btnEnvoyer:hover {
    background-color: green;
}

input::-moz-focus-inner { 
    border: 0; 
}
  
input[type="date"]::-webkit-calendar-picker-indicator{
    color: #999;
}

body {
    background: white;
    font-family: 'Inter UI', sans-serif;
    margin: 0;
    padding: 20px;
}