#menu {
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 560px;
    height: 30px;
    padding: 10px;
    border-radius: 5px;
}

.boutonMenu {
    width: 135px;
    border: 1px solid black;
    border-radius: 3px;
    height: 30px;
    background-color: rgb(196, 196, 196);
}

.boutonMenu:hover {
    background-color: rgb(26, 155, 194);
}

#center {
    text-align: center;
}

#laura2 {
    flex-wrap: wrap;
    text-align: center;
}

#affichage2 {
    width: 560px;
    margin-right: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    padding-top: 10px;
    background-color: grey;
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 40px;
}

#lien:hover {
    background-color: green;
}

#lien {
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: 2px solid black;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

#enchere {
    font-weight: bold;
    border-right: 2px solid black;
    width: 200px;
    margin-left: 10px;
    padding-top: 10px;
    height: 65px;
}

#prix {
    color: black;
    margin-top: 10px;
}

#prix2 {
    margin-top: 10px;
    width: 100px;
}

#bloc {
    border: 2px solid black;
    margin-bottom: 10px;
    width: 420px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

#encherir {
    font-weight: bold;
    width: 200px;
    padding-top: 10px;
    height: 65px;
    padding-left: 5px;
}

img {
    width: 280px;
    height: 160px;
}
