#menu {
    border: 2px solid #2D2F36;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 560px;
    height: 30px;
    padding: 10px;
    border-radius: 5px;
}

.boutonMenu {
    width: 135px;
    border: 1px solid #2D2F36;
    border-radius: 3px;
    height: 30px;
    background-color: rgb(196, 196, 196);
    color: #2D2F36;
    font-size: 15px;
    font-weight: bold;
}

.boutonMenu:hover {
    background-color:#e2e2e5;
}

#center {
    text-align: center;
}

#laura2 {
    flex-wrap: wrap;
    text-align: center;
}

#affichage2 {
    width: 560px;
    margin-right: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    padding-top: 10px;
    background: #dcdce1;
    padding: 10px;
    padding-bottom: 40px;
}

#lien:hover {
    color: #d0d0d2;
}

#lien {
    text-decoration: none;
    border: 2px solid black;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;

    color: #707075;
    transition: color 300ms;
    font-size: 19px;
    font-weight: bold;
}
  
#lien:focus {
    color: #f2f2f2;
}

#enchere {
    font-weight: bold;
    border-right: 2px solid black;
    width: 200px;
    margin-left: 10px;
    padding-top: 10px;
    height: 65px;
}

#derniereOffre {
    color: black;
    margin-top: 10px;
    background: #474a59;
    color: white;
}

#inputPrix {
    margin-top: 10px;
    width: 100px;
}

#bloc {
    border: 2px solid black;
    margin-bottom: 10px;
    width: 420px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background: #474a59;
    color: white;
}

#encherir {
    font-weight: bold;
    width: 200px;
    padding-top: 10px;
    height: 65px;
    padding-left: 5px;
}

img {
    width: 280px;
    height: 160px;
}

#btnEnvoyer:hover {
    background-color: green;
}

input::-moz-focus-inner { 
    border: 0; 
}
  
input[type="date"]::-webkit-calendar-picker-indicator{
    color: #999;
}

body {
    background: white;
    font-family: 'Inter UI', sans-serif;
    margin: 0;
    padding: 20px;
}